<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='/vendors/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/vendors/bootstrap/css/bootstrap-grid.min.css' />
    <link rel='stylesheet' href='/vendors/bootstrap/css/bootstrap-reboot.min.css' />

    <style>
        h2 {
            margin-bottom: 20px;
        }

        table tr {
            margin-bottom: 10px;
        }

        table input {
            width: 500px;
            padding: 8px;
            box-sizing: border-box;
        }

        table textarea {
            width: 500px;
            height: 200px;
        }

        table select {
            width: 500px;
            padding: 8px;
            box-sizing: border-box;
        }

        table button {
            width: 500px;
        }
        a {
            color: #00008B; /* 하이퍼링크 색을 #0000BB로 설정 */
            text-decoration: none; /* 밑줄 제거 */
        }
    </style>
</head>

<body>
    <div class="header d-flex justify-content-end align-items-center">관리자 <%= rootname %>님</div>
    <nav class="d-flex justify-content-between align-items-center mb-3">
        <div>
            <a href="/" id="home" class="me-auto p-2">
                <img src="/images/design/weblogo.png" alt="로고" style="height: 100px;  width: 200px">
            </a>
        </div>
        <nav class="header">
            <a href="/roots/manageUsrList" class="link p-2">회원관리</a>
            <a href="/roots/manageBoardList" class="link p-2">게시판관리</a>
            <a href="/roots/manageAnalytics" class="link p-2">사이트분석</a>
        </nav>
    </nav>
    <h2 class="d-flex justify-content-center">
        <%= title %>
    </h2>
    <br>
    <form action="/roots/notificationUpdate" method="post" onsubmit="return onWriteSubmit()" class="d-flex align-items-center flex-column">
        <table>
            <input type="hidden" name="Bid" value="<%=row.Bid%>"/>
            <tr class="d-flex flex-column">
                <td>제목</td>
                <td><input type="text" name="title" id="title" value="<%=row.Title || '' %>" required/></td>
            </tr>
            <tr class="d-flex flex-column">
                <td>내용</td>
                <td><textarea name="content" id="content" required><%=row.Content || '' %></textarea></td>
            </tr>
            <tr class="d-flex flex-column">
                <td>비밀번호</td>
                <td><input type="password" name="passwd" id="passwd"></td>
            </tr>
            <tr class="d-flex justify-content-center">
                <td> <button class="btn btn-outline-success" type="submit">수정완료</button> </td>
            </tr>
            <td>
                <button class="btn btn-outline-dark" type="button" onclick="location.href='/roots/notificationRead/<%=row.Bid%>'">돌아가기</button>
            </td>
        </table>
    </form>
    <script>
        function onWriteSubmit(){
            if ($("#title").val().trim() == ""){
                var message = "제목을 입력해 주세요.";
                $("#title").val("");
                $("#title").focus();
                alert(message);
                return false;
            }
            if ($("#content").val().trim() == ""){
                var message = "본문 내용을 입력해 주세요.";
                $("#content").val("");
                $("#content").focus();
                alert(message);
                return false;
            }
            if ($("#passwd").val().trim() == ""){
                var message = "비밀번호를 입력해 주세요.";
                $("#passwd").val("");
                $("#passwd").focus();
                alert(message);
                return false;
            }
        }
    </script>
</body>

</html>