<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='/vendors/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/vendors/bootstrap/css/bootstrap-grid.min.css' />
    <link rel='stylesheet' href='/vendors/bootstrap/css/bootstrap-reboot.min.css' />

    <!-- Bootstrap Icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <title>
        <%= title %>
    </title>

    <style>
        h2 {
            margin-bottom: 20px;
        }

        .read-box {
            width: 900px;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0.5px 0.5px 2px 1px #eee;
        }

        .board-content span {
            margin-bottom: 10px;
        }

        .sub-info span {
            color: gray;
        }

        .board-content p {
            height: 100%;
        }

        .btn-container {
            display: flex;
            gap: 10px; /* 버튼 간격 */
        }
    </style>
</head>

<body>
    <a href="/" id="home" class="me-auto p-2">
        <img src="/images/design/weblogo.jpg" alt="로고" style="height: 50px;">
      </a>
    <br>
    <br>
    <button class="btn btn-outline-dark" type="button" onclick="location.href='/roots/notificationList' ">뒤로가기</button>
    <br>
    <h1><%= title %></h1>
    <div class="read-box">
        <table>
            <input type="hidden" name="Bid" value="<%= row.Bid %>" />
            <tr>
                <td>작성자</td>
                <td><%= row.Rname %></td>
            </tr>
            <tr>
                <td>내용</td>
                <td><%= row.Content %></td>
            </tr>
            <tr>
                <td>조회수</td>
                <td><%= row.Hit %></td>
            </tr>
        </table>
    </div>
    <!-- 수정 폼 -->
    <form action="/roots/notificationUpdate" method="get">
        <input type="hidden" name="Bid" value="<%= row.Bid %>" />
        <% if (rootLogin && UpdateEnable) { %>
            <div class="btn-container">
                <button class="btn btn-outline-warning" type="submit">수정하기</button>
            </div>
        <% } %>
    </form>
    <!-- 삭제 폼 -->
    <form action="/roots/notificationDelete" method="post" onsubmit="return confirm('정말 삭제하시겠습니까?');">
        <input type="hidden" name="Bid" value="<%= row.Bid %>" />
        <% if (rootLogin && UpdateEnable) { %>
        <!-- 비밀번호 입력 필드 추가 -->
        <div class="form-group">
            <label for="passwd">비밀번호</label>
            <input type="password" class="form-control" name="passwd" id="passwd" required />
        </div>
        <div class="btn-container">
            <button class="btn btn-outline-danger" type="submit">삭제하기</button>
        </div>
        <% } %>
    </form>
</body>

</html>