<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="/javascripts/jquery-3.7.1.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel='stylesheet' href='/vendors/bootstrap/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/vendors/bootstrap/css/bootstrap-grid.min.css' />
    <link rel='stylesheet' href='/vendors/bootstrap/css/bootstrap-reboot.min.css' />

    <title>
        <%= title %>
    </title>

    <style>
        .link {
            text-decoration: none;
            color: black;
        }

        .dropdown-menu .dropdown-item:active {
            background-color: #4D5154;
            color: white;
        }
    </style>

    <style>
        table {
            border-collapse: separate;
            border-spacing: 10px 10px;
        }

        table input {
            width: 400px;
            padding: 8px;
        }

        table select {
            width: 400px;
            padding: 8px;
        }

        table textarea {
            width: 400px;
            height: 200px;
        }

        table tr {
            margin-bottom: 10px;
        }

        #submitBtn {
            width: 200px;
        }
    </style>
</head>

<body>
    <div class="header d-flex justify-content-end">
        <a href="/notification" class="p-2">공지사항</a>
        <a href="/logout" class="p-2">로그아웃</a>
    </div>

    <div class="d-flex mb-3">
        <a href="/" id="home" class="me-auto p-2">로고</a>
        <div class="header d-flex justify-content-end">
            <a href="/sellBoard/sellWrite" class="p-2">판매하기</a>
            <a href="/myPage" class="p-2">마이페이지</a>
            <a href="/message" class="p-2">메세지</a>
        </div>
    </div>

    <hr> <!-- 구분선 -->

    <div class="menu-bar d-flex">
        <div class="dropdown me-2">
            <a class="btn btn-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                카테고리
            </a>

            <ul class="dropdown-menu">
                <% for(var category in categories){ %>
                    <li><a class="dropdown-item" href="/sellBoard/sellList/category/<%=categories[category]%>">
                            <%= category %>
                        </a></li>
                    <% }%>
            </ul>
        </div>
        <a href="/sellBoard/sellList" , class="link p-2">전체 보기</a>
    </div>

    <hr> <!-- 구분선 -->

    <h3 class="d-flex justify-content-center">
        <%= title %>
    </h3>

    <form action="/sellBoard/sellWrite" method="post" enctype="multipart/form-data" onsubmit="return onWriteSubmit()">
        <table class="d-flex justify-content-center">
            <tr>
                <td>상품 사진</td>
                <td><input type="file" accept="image/jpeg, image/png" class="form-control" name="image" id="image"></td>
            </tr>
            <tr>
                <td>제목</td>
                <td><input type="text" name="title" id="title"></td>
            </tr>
            <tr>
                <td>카테고리</td>
                <td>
                    <select name="category" id="category">
                        <option selected value="">카테고리 선택</option>
                        <% for(var category in categories){ %>
                            <option value="<%=category%>">
                                <%= category %>
                            </option>
                            <% } %>
                    </select>
                </td>
            </tr>
            <tr>
                <td>가격</td>
                <td><input type="number" name="price" id="price"></td>
            </tr>
            <tr>
                <td>내용</td>
                <td><textarea name="content" id="content"></textarea></td>
            </tr>
            <tr>
                <td>구매 날짜</td>
                <td><input type="date" name="buyDate" id="buyDate"></td>
            </tr>
            <tr>
                <td>거래 희망 장소</td>
                <td><input type="text" name="place" id="place"></td>
            </tr>
            <tr>
                <td>
                </td>
                <td class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-dark" id="submitBtn">등록하기</button>
                </td>
            </tr>
        </table>
    </form>

    <!-- Bootstrap JS -->
    <script src="/vendors/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script>
        function onWriteSubmit() {
            if ($("#image").val().trim() == "") {
                var message = "상품 이미지를 선택해 주세요.";
                $("#image").val("");
                $("#image").focus();
                alert(message);
                return false;
            }
            if ($("#title").val().trim() == "") {
                var message = "제목을 입력해 주세요.";
                $("#title").val("");
                $("#title").focus();
                alert(message);
                return false;
            }
            if ($("#category").val().trim() == "") {
                var message = "카테고리를 선택해 주세요.";
                $("#category").val("");
                $("#category").focus();
                alert(message);
                return false;
            }
            if ($("#price").val().trim() == "") {
                var message = "가격을 입력해 주세요.";
                $("#price").val("");
                $("#price").focus();
                alert(message);
                return false;
            }
            if ($("#content").val().trim() == "") {
                var message = "내용을 입력해 주세요.";
                $("#content").val("");
                $("#content").focus();
                alert(message);
                return false;
            }
            if ($("#buyDate").val().trim() == "") {
                var message = "구매 날짜를 입력해 주세요.";
                $("#buyDate").val("");
                $("#buyDate").focus();
                alert(message);
                return false;
            }
            if ($("#place").val().trim() == "") {
                var message = "거래 희망 장소를 입력해 주세요.";
                $("#place").val("");
                $("#place").focus();
                alert(message);
                return false;
            }
        }
    </script>
</body>

</html>